<div id="index">
    <img src="/images/beer.png" alt="beer" width="250px"></img>
    <br>
    <input class="button" type="button" onclick="location.href='/beers';" value="Check the Beers!" />
    <br>
    <input class="button" type="button" onclick="location.href='/random-beers';" value="Check a Random Beer" />
 </div>

